$green: #5cb85c;
$red: #d9534f;

%disappointed-man {
  width: 200px;
  height: 261.5px;
  margin: 0 auto;
  background-image: url('/images/the-disappointed-man.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

$disappointment-levels: 0, 1, 2, 3, 4, 5, 6, 7;

@function disappointment-position($level) {
  $width: 200;
  $height: 261.5;
  $xpos: 0;
  @if $level > 3 {
    $xpos: -$width;
  }
  $modifier: $level % 4;
  $ypos: -($modifier * $height);

  @return #{$xpos}px #{$ypos}px;
}

@each $level in $disappointment-levels {
  .disappointed-man--level-#{$level} {
    @extend %disappointed-man;
    background-position: disappointment-position($level);

  }
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.dm-word-in-play {
  margin: 0 auto;
  padding-bottom: 15px;
}

.dm-keyboard {
  width: 271px;
  margin: 0 auto;
}

%dm-button {
  padding: 8px 12px;
  margin-bottom: 5px;
  background-color: grey;
  border-bottom: 5px solid darken(grey, 10);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.dm-keyboard-key {
  @extend %dm-button;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
  &.correct {
    background-color: $green;
    border-bottom: 5px solid darken($green, 10);
  }
  &.incorrect {
    background-color: $red;
    border-bottom: 5px solid darken($red, 10);
  }
}

.letter-in-play {
  display: inline-block;
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
}

.dm-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 99999;
}

.dm-title, .dm-modal--title, .dm-modal--subtitle {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

.dm-modal--subtitle {
  margin-bottom: 10px;
}

.dm-modal--play-again {
  @extend %dm-button;
  width: 125px;
  margin: 15px auto;
  text-align: center;
  padding-top: 10px;
}

.dm-modal--word-was {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}
