$green: #4cdb4c;
$red: #ff6666;

%disappointed-man {
  width: 200px;
  height: 261.5px;
  background-image: url('/images/the-disappointed-man.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

$disappointment-levels: 0, 1, 2, 3, 4, 5, 6, 7;

@function disappointment-position($level) {
  $width: 200;
  $height: 261.5;
  $xpos: 0;
  @if $level > 3 {
    $xpos: -$width;
  }
  $modifier: $level % 4;
  $ypos: -($modifier * $height);

  @return #{$xpos}px #{$ypos}px;
}

@each $level in $disappointment-levels {
  .disappointed-man--level-#{$level} {
    @extend %disappointed-man;
    background-position: disappointment-position($level);

  }
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.dm-keyboard-key {
  display: inline-block;
  padding: 10px 15px;
  background-color: grey;
  border-bottom: 5px solid darken(grey, 10);
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  &.correct {
    background-color: $green;
    border-bottom: 5px solid darken($green, 10);
    color: darken($green, 20);
  }
  &.incorrect {
    background-color: $red;
    border-bottom: 5px solid darken($red, 10);
    color: darken($red, 20);
  }
}

.letter-in-play {
  display: inline-block;
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
}
